.card {
    max-width: 240px;
    width: 100%;

    .title {
        line-height: 130%;
    }
    .subtitle {
        font-size: 14px;
        line-height: 130%;
        color: var(--character-light-secondary-45);
        margin: 3px 0 0 0;
        font-weight: 400;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
    }

    :global {
        .ant-card-head-title {
            padding: 12px 0;
        }
        .ant-typography {
            font-weight: 400;
            color: var(--primary-light-6);
        }
        .ant-card-body {
            padding: 12px 0;
        }
        .ant-btn-link {
            color: var(--character-light-title-85);
            padding: 7px 11px;
        }
    }
}

@media screen and (max-width: 540px) {
    .card {
        max-width: 100%;

        :global {
            .ant-card-head-title {
                text-align: center;
            }
        }
    }
}
