.header {
    width: 100%;
    padding: 16px 24px;
    background-color: var(--primary-light-1);

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 6px 0;
    }

    :global {
        .ant-breadcrumb li:last-child a{
            color: var(--character-light-title-85);
        }
        h1.ant-typography {
            margin: 0;
            font-weight: 700;
            line-height: 1.3;
        }
        .ant-menu {
            background: transparent;
        }
        .ant-menu-horizontal {
            line-height: 32px;

            &:not(.ant-menu-dark) > .ant-menu-submenu {
                padding: 0 15px;
            }

            .ant-menu-submenu::after {
                right: 15px;
                left: 15px;
            }
        }
    }
}
