:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;

    --primary-light-1: #F0F5FF;
    --character-light-title-85: #262626;
    --character-light-primary-inverse: #fff;
    --primary-light-6: #2f54eb;
    --primary-light-9: #061178;
    --character-light-secondary-45: #8c8c8c;
}
